@model MedicalRecordViewModel
@{
    ViewData["Title"] = "ViewMedicalRecord";
}

<h1>ViewMedicalRecord</h1>


<div>
    <h4>Record ID: @Model.Id</h4>
    <p>Patient Name: @Model.PatientName</p>
    <p>Doctor Name: @Model.DoctorName</p>
    <p>Date: @Model.AppointmentDate</p>
    <p>Details: @Model.Description</p>
    <p>Details: @Model.Prescription</p>
</div>
@if(User.IsInRole("Patient"))
{
    <a asp-action="ViewPatientMedicalRecords" asp-route-id="@Model.PatientId" class="btn btn-secondary">Back to List</a>
}
else if (User.IsInRole("Doctor"))
{
    <a asp-action="ViewDoctorMedicalRecords" asp-route-id="@Model.DoctorId" class="btn btn-secondary">Back to List</a>

}