@model List<MedicalRecordViewModel>
@{
    ViewData["Title"] = "Medical Records";
}

<link rel="stylesheet" type="text/css" href="~/css/site.css" />

<h2 id="doch2" class="text-center m-3">Your Medical Records</h2>

<div class="records-container">
    @foreach (var record in Model)
    {
        <div class="record-card">
            <h3>Doctor : @record.DoctorName</h3>
            <p><strong>Date:</strong> @record.AppointmentDate.ToString("MMMM dd, yyyy")</p>
            <p><strong>Description:</strong> @record.Description</p>
            <p><strong>Prescription:</strong> @record.Prescription</p>
            <a asp-action="Details" asp-route-id="@record.Id" class="text-light details-button">View Details</a>
        </div>
    }
</div>
<style>
    .record-card p {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
    }

</style>