@model List<MedicalRecordViewModel>
@{
    ViewData["Title"] = "ViewDoctorMedicalRecords";
}



<h2>Doctor's Medical Records</h2>

<table class="table">
    <thead>
        <tr>
            <th>Record ID</th>
            <th>Patient Name</th>
            <th>Date</th>
            <th>Description</th>
            <th>Prescription</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var record in Model)
        {
            <tr>
                <td>@record.Id</td>
                <td>@record.PatientName</td>
                <td>@record.AppointmentDate</td>
                <td>@record.Description</td>
                <td>@record.Prescription</td>
                <td>
                    <a asp-action="Details" asp-route-id="@record.Id">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>
