@model HealthCare.DataAccess.Models.Doctor

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center  mb-4">Doctor Details</h1>

<div class="card mx-auto border-0 shadow-lg" style="max-width: 600px;">
    <div class="card-header  text-white text-center" style="background-color:#3b73af">
        <h4 class="mb-0">Doctor Information</h4>
    </div>
    <div class="card-body bg-light">
        <dl class="row">
            <dt class="col-sm-4 fw-bold">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt class="col-sm-4 fw-bold">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt class="col-sm-4 fw-bold">
                @Html.DisplayNameFor(model => model.Specialization)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Specialization)
            </dd>
            <dt class="col-sm-4 fw-bold">
                @Html.DisplayNameFor(model => model.ContactNumber)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ContactNumber)
            </dd>
            <dt class="col-sm-4 fw-bold">
                @Html.DisplayNameFor(model => model.OfficeAddress)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.OfficeAddress)
            </dd>
        </dl>
    </div>
    <div class="card-footer text-center " style="background-color:#3b73af">
        <a asp-action="Index" class="btn  text-light me-2" style="background-color:#a0c4ff">Back to List</a>
        @if (!User.IsInRole("Doctor"))
        {
            <a asp-action="DisplayTimeSlots" asp-route-id="@Model.Id" asp-route-Date="@DateTime.Now" asp-controller="Doctor" class="btn btn-success">Available Appointments</a>
        }
    </div>
</div>
