@model HealthCare.DataAccess.Models.Doctor

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center mb-4">Doctor Details</h1>

<div class="card mx-auto" style="max-width: 600px;">
    <div class="card-header bg-primary text-white">
        Doctor Information
    </div>
    <div class="card-body">
        <dl class="row">
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.FirstName)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.LastName)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.Specialization)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.Specialization)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.ContactNumber)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.ContactNumber)
            </dd>
            <dt class="col-sm-4">
                @Html.DisplayNameFor(model => model.OfficeAddress)
            </dt>
            <dd class="col-sm-8">
                @Html.DisplayFor(model => model.OfficeAddress)
            </dd>
        </dl>
    </div>
    <div class="card-footer text-center">
        <a asp-action="Index" class="btn btn-success">Back to List</a>
        @if (!User.IsInRole("Doctor"))
        {
            <a asp-action="DisplayTimeSlots" asp-route-id="@Model.Id" asp-route-Date="@DateTime.Now" asp-controller="Doctor" class="btn btn-primary">Available Appoinntments</a>

        }

    </div>

</div>
