@using HealthCare.DataAccess.Models
@using HealthCare.DataAccess.Enums
@model List<Appointment>

    <p>your appointments</p>

        <table class="table table-bordered table-hover text-center align-middle ">
            <thead>
                <tr>
                     <th>time</th>
                     <th>status</th>    
                     <th>patient name</th>
                      <th>date of birth</th>
                       <th>contact number</th>
                        <th>gender</th>
                        <th>mark it as completed</th>
                </tr>
               
            </thead>
@foreach(var appointment in Model)
{
    <tr>
            <td>@appointment.DateTime</td>
            <td>@appointment.Status</td>
            <td>@appointment.Patient.FirstName @appointment.Patient.LastName</td>
            <td>@appointment.Patient.DateOfBirth</td>
            <td>@appointment.Patient.ContactNumber</td>
            <td>@appointment.Patient.Gender</td>
            <td>
                 @if (appointment.Status == AppointmentStatus.Scheduled)
                    {
                    <button class="btn btn-primary">
                     <a  class="text-white" style="text-decoration:none" href="/Appointment/CompletedAppointment/@appointment.Id">copmlete</a>
                     </button>
                  }
                
            </td>
    </tr>
}
</table>